---
import Base from '../layouts/Base.astro';
import { aboutText } from '../data/site';
---

<Base title="about">
  <section class="simple-page">
    <div class="about-copy">
      <p>{aboutText}</p>
      
    </div>
  </section>
</Base>